<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aysiu</string>
		<key>creation_date</key>
		<date>2015-12-03T22:22:05Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Scripts</string>
	<key>description</key>
	<string>Enables the guest account for login.</string>
	<key>developer</key>
	<string>aysiu</string>
	<key>display_name</key>
	<string>Enable Guest Account</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash

testVariable=$(defaults read /Library/Preferences/com.apple.loginwindow.plist GuestEnabled)

if [ "$testVariable" == "1" ]; then

	# Installed
	exit 1
else
	# Is not installed
	exit 0
fi</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>EnableGuestAccount</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash

# Enable the guest account
## Unfortunately, this only cosmetically changes what shows in System Preferences. It does not actually enable the guest account.
## I have to figure out what goes on behind the scenes.
sudo defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool TRUE
## Not helpful in terms of fully scripting, but if you're willing to do a payload, you can make one copy of the
##/private/var/db/dslocal/nodes/Default/users/Guest.plist file and distribute out to the client machine, and that should enable the
## account again.
</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/bash

# Disable the guest account
## This changes cosmetically what shows up in System Preferences
sudo defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool FALSE
## This actually disables the guest account from being able to log in
sudo rm /private/var/db/dslocal/nodes/Default/users/Guest.plist</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>
