<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aysiu</string>
		<key>creation_date</key>
		<date>2016-01-27T20:03:40Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Scripts</string>
	<key>description</key>
	<string>Enables the guest account.</string>
	<key>developer</key>
	<string>sheagcraig</string>
	<key>display_name</key>
	<string>Enable Guest Account</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash

# Totally written by sheagcraig... just cut up for a Munki nopkg .plist
# Original code at https://github.com/sheagcraig/guestAccount/blob/master/guest_account
# Taking out all the if/then stuff, because we aren't running anything close to Lion on campus

# Does guest already exist?
if [ -f /var/db/dslocal/nodes/Default/users/Guest.plist ]; then
	#echo "Guest already created!"
	exit 1
	
	else
	# Guest not created
	exit 0

fi
</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>EnableGuestAccount</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash

# Totally written by sheagcraig... just cut up for a Munki nopkg .plist
# Original code at https://github.com/sheagcraig/guestAccount/blob/master/guest_account
# Taking out all the if/then stuff, because we aren't running anything close to Lion on campus

/usr/bin/dscl . -create /Users/Guest
/usr/bin/dscl . -create /Users/Guest dsAttrTypeNative:_defaultLanguage en
/usr/bin/dscl . -create /Users/Guest dsAttrTypeNative:_guest true
/usr/bin/dscl . -create /Users/Guest dsAttrTypeNative:_writers__defaultLanguage Guest
/usr/bin/dscl . -create /Users/Guest dsAttrTypeNative:_writers__LinkedIdentity Guest
/usr/bin/dscl . -create /Users/Guest dsAttrTypeNative:_writers__UserCertificate Guest
/usr/bin/dscl . -create /Users/Guest AuthenticationHint ''
/usr/bin/dscl . -create /Users/Guest NFSHomeDirectory /Users/Guest

# Give a little extra time for the password and kerberos to play nicely
sleep 2
/usr/bin/dscl . -passwd /Users/Guest ''
sleep 2

/usr/bin/dscl . -create /Users/Guest Picture "/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/UserIcon.icns"
/usr/bin/dscl . -create /Users/Guest PrimaryGroupID 201
/usr/bin/dscl . -create /Users/Guest RealName "Guest User"
/usr/bin/dscl . -create /Users/Guest RecordName Guest
/usr/bin/dscl . -create /Users/Guest UniqueID 201
/usr/bin/dscl . -create /Users/Guest UserShell /bin/bash
# Commenting out, because this line causes a keychain error when logging in
# The side effect of commenting out is that you have to enter an empty password (just hit Enter) instead of clicking the icon
# and then just logging in right away
# Full credit for that workaround to https://jamfnation.jamfsoftware.com/discussion.html?id=9737#responseChild80750
#/usr/bin/security add-generic-password -a Guest -s com.apple.loginwindow.guest-account -D "application password" /Library/Keychains/System.keychain
			
# This seems to be technically unnecessary; it controls whether the "Allow 
# guests to log in to this computer" checkbox is enabled in SysPrefs 
defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool TRUE</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/bash

# Totally written by sheagcraig... just cut up for a Munki nopkg .plist
# Original code at https://github.com/sheagcraig/guestAccount/blob/master/guest_account
# Taking out all the if/then stuff, because we aren't running anything close to Lion on campus

/usr/bin/dscl . -delete /Users/Guest
/usr/bin/security delete-generic-password -a Guest -s com.apple.loginwindow.guest-account -D "application password" /Library/Keychains/System.keychain

# Also-do we need this still? (Should un-tick the box)
defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool FALSE</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.3</string>
</dict>
</plist>
