<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>aysiu</string>
		<key>creation_date</key>
		<date>2016-01-13T20:51:54Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Scripts</string>
	<key>description</key>
	<string>Enables SSH access</string>
	<key>developer</key>
	<string>aysiu</string>
	<key>display_name</key>
	<string>Turn On Remote</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash

# Set variable for desired output
desiredOutput="Remote Login: On"

# Set a variable to store the output of the remote login status
testVariable=$(/usr/sbin/systemsetup -getremotelogin)

if [ "$testVariable" == "$desiredOutput" ]; then

	# Remote is on
	exit 1

else

	# Remote is off
	exit 0

fi</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>TurnOnRemote</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash

# Set remote login to on
/usr/sbin/systemsetup -setremotelogin on</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/bash

# Turn off remote
/usr/sbin/systemsetup -f -setremotelogin off</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
